name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # 본인의 기본 브랜치명이 master라면 master로 수정하세요

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # [중요] GitHub 저장소에 쓰기 권한 부여
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true  # [중요] PaperMod 테마를 가져오기 위해 필수
          fetch-depth: 0    # Hugo의 .GitInfo 기능을 위해 전체 기록 가져오기

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true  # [중요] PaperMod는 Extended 버전이 필수입니다

      - name: Build
        run: hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
